<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyTSUO0sgfXNBwsrEUaS992WZlbO6Hl3U</string>
	<key>GCM_SENDER_ID</key>
	<string>530515545021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teste2</string>
	<key>PROJECT_ID</key>
	<string>mobilebancodedados</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilebancodedados.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530515545021:ios:7e805ede12203dea9d20d4</string>
</dict>
</plist>